.mt-20{
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.p-20 {
    padding: 20px;
}
.pl-20 {
    padding-left: 20px;
}

.m-20 {
    margin: 20px;
}
.font-size-16 {
    font-style: 16px;
}
.radius-6 {
    border-radius: 6px;
}
.line-24 {
    line-height: 24px;
}
.mr-5 {
    margin-right: 5px;
}
.d-flex {
    display: flex !important;
    align-items: baseline;
}
