*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./form";
@import "./function";
@import "./mixin";
@import "./mobile";
@import "./table";
@import "./validate";
@import "./variables";

