$textColor : #111111;
$background : #F5F5F5;
$font-base: 16px;
$screenHeight: 100vh;
$primary : #1E60E1;

p {
    color : $textColor;
    line-height: 24px;
    font-size: $font-base;
    
}
button {
    cursor: pointer;
}
.pl-10 {
    padding-left: 10px;
}