$lato-font: url("../fonts/Lato-Regular.ttf");

@font-face {
  font-family: "lato";
  src: $lato-font;
  font-weight: normal;
  font-style: normal;
}

$Oswald-font: url("../fonts/Oswald/static/Oswald-Medium.ttf");

@font-face {
  font-family: "Oswald";
  src: $Oswald-font;
  font-weight: normal;
  font-style: normal;
}

@import "variables";
@import "index";
@import "form";
@import "mobile";

body {
  font-family: "lato",sans-serif;
  color: $textColor;
}

// sidebar
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #0c1245;
  z-index: 100;
  transition: all 0.5s ease;
  .sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .sidebar.sidebar--close .close-btn {
    display: none;
  }
  .sidebar__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #193387 0%, #0b1144 100%);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    padding-bottom: 55px;
    img {
      max-width: 100%;
      max-height: 100%;
      padding: 20px;
    }
    .small-logo img {
      max-width: 50%;
      max-height: 50%;
      padding: 10px;
    }
  }
}
.sidebar.sidebar--close {
  width: 78px;
}
.sidebar .nav-links {
  height: 100%;
  padding: 0px 0 150px 0;
  overflow: auto;
}

.sidebar.sidebar--close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #0c1245;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.sidebar--close .nav-links li .icon-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-link__img {
  padding: 25px;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.sidebar--close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .icon-link__name {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar.sidebar--close .nav-links li a .icon-link__name {
  opacity: 0;
  pointer-events: none;
}

.link_img.hide {
  display: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 70px;
  margin-top: -10px;
  background: #0c1245;
  display: none;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: $white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  white-space: nowrap;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.sidebar--close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar .nav-links li .sub-menu .icon-link__name {
  display: none;
}

.sidebar.sidebar--close .nav-links li .sub-menu .icon-link__name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
// End sidebar


.home-section {
  position: relative;
  background: #e5e5e5;
  height: auto;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.sidebar--close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

// Home header
.home-header {
  height: 60px;
  display: flex;
  align-items: center;
  .bx-menu {
    color: #1e60e1;
    font-size: 35px;
    margin: 0 15px;
    cursor: pointer;
  }
  .home-header__logo {
    display: none;
  }
  .home-header__logo-mobile {
    display: none;
  }
  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $textColor;
    font-weight: 400;
    line-height: 19px;
  }

  .breadcrumbs a {
    text-decoration: none;
    color: $textColor;
  }

  .breadcrumbs span {
    margin: 0 10px;
  }
  .home-header__icons {
    display: flex;
    flex: 3;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    padding: 10px;
    i:hover {
      color: $primary;
    }
    .home-header__select-nation {
      border: none;
      background-color: #e5e5e5;
      outline: none;
      font-size: 18px;
      line-height: 22px;
      color: #0c1245;
    }
    .home-header__search {
      padding: 5px;
    }
    .home-header__language {
      margin: 0 10px;
      display: flex;
    }
  }
}
.breadcrumbs-ipad {
  display: none;
}
// begin title
.title {
  margin: 10px;
  padding: 10px;
  .title__text {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    text-transform: uppercase;
  }
  .title__text--total {
    color: $primary;
  }
  .title__text--mobile {
    display: none;
  }
}
// End title

// begin tab nav
.tabs {
  display: flex;
  position: relative;
  border-bottom: 5px solid $primary;
  padding-left: 20px;

  .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 2px;
    background-color: $primary;
    transition: all 0.2s ease;
  }
  .tabs__scroll {
    display: flex;
    .tab-item {
      // min-width: 80px;
      padding: 16px 20px 11px 20px;
      margin-right: 10px;
      font-weight: 700;
      font-size: 17px;
      text-align: center;
      color: $textColor;
      background-color: #fff;
      border-radius: 6px 6px 0 0;
      border-bottom: 5px solid transparent;
      cursor: pointer;
      transition: all 0.5s ease;

      .tab-icon {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
      }
      &:hover {
        opacity: 1;
        background-color: rgba(194, 53, 100, 0.05);
        border-color: rgba(194, 53, 100, 0.1);
      }

      &.active {
        opacity: 1;
        background-color: $primary;
        color: $white;
      }
    }
  }
}
.tab-content {
  padding: 28px 25px;

  .tab-pane {
    color: $textColor;
    display: none;

    &.active {
      display: block;
    }
  }

  .tab__show {
    overflow: hidden;
    height: 110px;
  }

  .toggle {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fadeout {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 22px;
      background-image: url("/assets/images/opacity.png");
    }
  }

  .expand-btn,
  .collapse-btn {
    border: none;
    cursor: pointer;
    color: $primary;
    background-color: #e5e5e5;
    text-align: center;
    transition: opacity 0.3s ease-out, height 0.3s ease-out;
  }
}
// End tab nav

// setting
.filter {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  .filter__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span {
      border: 1px solid #dddddd;
      background-color: $white;
      padding: 3px 10px;
      border-radius: 6px;
    }
  }
  .filter__game {
    margin-left: 10px;
    margin-right: 10px;
  }
  .filter__reset-btn {
    border: 1px solid #1e60e1;
    border-radius: 6px;
    line-height: 19px;
    padding: 3px;
    background-color: $white;
    color: $primary;
  }
  .filter__right {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 5px;
    background-color: #e1e7f3;
    cursor: pointer;
    width: 107px;
    .filter__right-btn {
      color: $primary;
      display: flex;
      align-items: center;
      img {
        padding-right: 10px;
      }
    }
  }
}
// end fillter

// showing casino
.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .show__casino p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .show__sort button {
    border: 1px solid #dddddd;
    border-radius: 6px;
    height: 32px;
    width: 169px;
    background-color: $white;
    font-size: 16px;
    font-family: "lato",sans-serif;
  }
  span {
    font-weight: 700;
    color: $textColor;
  }
}
// begin dealer
.dealer {
  display: flex;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .dealer__background {
    flex-basis: 15%;
    height: auto;
    img {
      padding: 20px;
    }
    &.dealer--black {
      background-color: #161735;
    }
    &.dealer--green {
      background-color: #147b44;
    }
    &.dealer--red {
      background-color: #ae0001;
    }
    &.dealer--blue {
      background-color: #2a385b;
    }
  }
  .dealer__content {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
    background-color: $white;
    height: auto;
    .dealer__content-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #e9ebee;
      .dunder-title,
      .unibet-title,
      .dafabet-title,
      .happistar-title {
        font-family: "Oswald",sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 41px;
        text-transform: uppercase;
        padding: 10px;
        span {
          color: $primary;
        }
        img {
          display: none;
        }
        .title-mobile {
          display: none;
        }
      }
      .ratting {
        display: none;
      }
      .dunder-right {
        margin: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .featured-right {
          display: flex;
          align-items: center;
          border: none;
          background: #f7bf31;
          border-radius: 100px;
          color: $white;
          padding: 5px 12px;
          margin-right: 12px;
        }
        .number-right {
          display: flex;
          align-items: center;
          border: none;
          background: #76c344;
          border-radius: 100px;
          color: $white;
          padding: 5px 12px;
          margin-right: 12px;
        }
        .perfect {
          font-size: 14px;
          display: flex;
          align-items: center;
          span {
            color: #76c344;
            font-weight: 700;
          }
        }
      }
    }
  }

  .dealer__content-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .body__country {
      display: flex;
      flex-direction: column;
      padding: 16px;
      .country {
        display: flex;
        align-items: center;
        line-height: 32px;
        gap: 10px;
      }
    }
    .body__desc {
      padding: 16px;
      ul li {
        color: $textColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
      }
    }
    .body__gift {
      max-width: 164px;
      max-height: 149px;
      width: 100%;
      height: 100%;
      border: 5px solid #e8317e;
      border-radius: 12px;
      margin: auto 25px;
      margin-top: 16px;
      padding: 16px;
      position: relative;
      p {
        color: #e8317e;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        font-weight: 700;
        margin-top: 8px;
      }
      .apply {
        color: $primary;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 18px;
        cursor: pointer;
      }
      .gift-box {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: #e8317e;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -24px;
        top: 2px;
      }
      .sale-box {
        width: 80px;
        height: 26px;
        background: #e8317e;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        text-align: center;
        border-radius: 0px 12px;
        position: absolute;
        top: -3px;
        left: 77px;
      }
    }
    .gift__color-yellow {
      border: 5px solid #f6bf31;
      max-height: -webkit-fill-available;
      p {
        color: #0c1245;
      }
      .apply {
        color: $primary;
      }
      .gift-box {
        background: #f6bf31;
      }
      .sale-box {
        background: #f6bf31;
      }
    }
  }
  .dealer__content_footer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    .visit-casino {
      background: $primary;
      border-radius: 6px;
      width: 196px;
      height: 44px;
      border: none;
      color: $white;
      font-weight: 700;
    }
    .visit-casino::before {
      content: "Visit Casino";
    }
    .visit-casino::after {
      content: "Visit";
      display: none;
    }
    .visit-review {
      width: 150px;
      height: 44px;
      background: #edf2fd;
      border: none;
      border-radius: 6px;
      font-weight: 700;
      color: $primary;
    }
    .less-details {
      width: 150px;
      height: 44px;
      font-weight: 700;
      background: #edf2fd;
      border: none;
      border-radius: 6px;
      color: $primary;
    }
  }
  .dealer__content-hidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
    border-top: 1px solid #e9ebee;
  }
  .left-desc {
    display: flex;
    flex-direction: column;
    p {
      display: flex;
      color: $textColor;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      align-items: center;
    }
    ul {
      padding: 20px;
      line-height: 1.5;
    }
  }
  .right-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      display: flex;
      align-items: center;
      color: $textColor;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }
    ul {
      padding: 20px;
      line-height: 1.5;
    }
  }
}
// end dealer

// btn show
.btn-show {
  border: 1px solid $primary;
  max-width: 398px;
  max-height: 52px;
  text-align: center;
  background: $white;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary;
  margin: 25px auto;
  padding: 17px;
  border-radius: 6px;
  cursor: pointer;
}
.pagination {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  .pagination__pagesize {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .page-number {
      width: 36px;
      height: 36px;
      background: $white;
      border-radius: 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #444444;
      padding: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .active {
      background-color: $primary;
      color: $white;
    }
  }
  .pagination__page-index {
    color: $textColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .pagination__btn {
    display: none;
  }
}
//  description
.description {
  display: flex;
  margin: 20px;
  background-color: $white;
  flex-direction: row;
  border-radius: 6px;
  .description__word {
    flex-basis: 66.67%;
    padding: 20px;
    font-size: 16px;
    p {
      line-height: 24px;
      word-break: break-word;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .desciption__title-one i {
      display: none;
    }
    .desciption__line {
      margin-bottom: 25px;
    }
    .title-one,
    .title-two,
    .title-three,
    .title-foure,
    .title-five,
    .title-six,
    .title-seven {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;
      line-height: 24px;
      margin-top: 20px;
    }
    .note {
      display: flex;
      border: none;
      background: #f2f3f5;
      border-radius: 6px;
      img {
        padding: 21px;
      }
    }
    .title-li {
      list-style: none;
      li {
        margin: 10px 0;
        padding-left: 30px;
        background-image: url("../icons/check-sticker.svg");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid #ccc;
      border-collapse: collapse;
      table-layout: fixed;
      margin-bottom: 10px;
      .table__row {
        display: flex;
        width: 100%;
      }
      .table__header {
        font-weight: bold;
        background-color: #f1f1f1;
      }
      .table__cell {
        border: 1px solid #ccc;
        padding: 10px;
        min-width: 100px;
      }
      .table__cell--60 {
        flex-basis: 60%;
      }
      .table__cell--10 {
        flex-basis: 10%;
      }

      .table__cell--30 {
        flex-basis: 30%;
      }

      .table__cell--left {
        text-align: left;
      }

      .table__cell--center {
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
    .question {
      display: flex;
      flex-direction: column;
      border: 1px solid #f8f8f8;
      border-radius: 6px;
      margin-top: 10px;
      .question__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f8f8f8;
        font-weight: 700;
        i {
          color: $primary;
          cursor: pointer;
        }
      }
      .question__icon {
        margin-right: 10px;
        font-size: 24px;
      }

      .question__title {
        margin: 0;
        padding: 10px;
      }

      .question__answer {
        margin-top: 10px;
        padding: 10px;
        display: none;
        transition: height 0.3s ease-in-out;
      }
    }
  }
  .description__menu {
    flex-basis: 33.33%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    .menu-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 258px;
      max-height: 192px;
      width: 100%;
      height: 100%;
      background: #f2f3f5;
      border-radius: 6px;
      position: sticky;
      top: 10px;
      .menu-item {
        margin: 5px 0;
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
  .active-item {
    color: $primary;
    font-weight: 700;
    border-left: 3px solid $primary;
  }
}
.more {
  display: none;
}
.filter-mobile {
  display: none;
}
// footer
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  flex-wrap: wrap;
  border-top: 3px solid #bbbbbb;
  margin-left: 24px;
  padding: 24px 24px 24px 0;

  .footer__menu {
    flex-basis: 50%;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
  }
  .footer__menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    order: 1;
  }

  .footer__menu-items {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .footer__menu-item {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
  }
  .footer__menu-item:last-child {
    border-right: none;
  }

  .footer__menu-item a {
    text-decoration: none;
    color: #333;
  }

  .footer__description {
    font-size: 14px;
    color: #999999;
    line-height: 17px;
    width: 50%;
    order: 3;
  }

  .footer__image {
    display: flex;
    max-height: 100px;
    flex-basis: 50%;
    justify-content: center;
    width: 50%;
    order: 2;
  }
  .footer__image img {
    max-width: 100%;
    height: auto;
  }
  .active-menu a {
    color: $primary;
  }
}

@media only screen and (max-width: 739px) {
  .sidebar.sidebar--close .nav-links li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 240px;
    z-index: 999;
    overflow: scroll;
    .nav-links {
      overflow: hidden !important;
    }
  }

  .sidebar.sidebar--close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.sidebar--close ~ .home-section {
    width: 100%;
    left: 0;
  }
}
@media only screen and #{$media-screen-tablet} {
  .sidebar.sidebar--close .nav-links li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 240px;
    z-index: 999;
    .nav-links {
      overflow: hidden !important;
    }
  }

  .sidebar.sidebar--close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.sidebar--close ~ .home-section {
    width: 100%;
    left: 0;
  }

  // header menu
  .home-header {
    background-color: #0c1245;
    .bx-menu {
      color: $white !important;
    }
    .home-header__logo {
      display: block !important;
    }

    .breadcrumbs {
      display: none ;
    }
    .home-header__icons {
      .home-header__select-nation {
        background-color: #0c1245;
        color: $white;
      }
      .home-content__search {
        color: $white;
      }
    }
  }
  .breadcrumbs-ipad {
    display: block;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    a {
      text-decoration: none;
      color: $textColor;
    }
    span {
      margin: 0 10px;
    }
  }
  .tabs {
    .tab-item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .filter {
    .filter__left {
      max-width: 450px;
      .filter__game {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
      }
      .filter__reset-btn {
        margin-top: 20px;
        margin-left: 12px;
      }
    }
    .filter__right {
      height: 28px;
    }
  }
  .show {
    align-items: baseline;
    .show__casino {
      max-width: 480px;
    }
  }
  .dunder {
    .number-right,
    .perfect,
    .alert {
      display: none !important;
    }
    .dealer__content-body {
      .body__desc {
        display: none;
      }
    }
    .dealer__content_footer {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .unibet,
  .dafabet,
  .happistar {
    .dunder-right {
      display: none !important;
    }
    .body__desc {
      display: none;
    }
    .dealer__content_footer {
      padding-left: 10px;
    }
  }
  .description {
    flex-direction: column-reverse;
    .description__menu {
      justify-content: flex-start;
      .menu-box {
        max-width: 100%;
        width: 100%;
        padding-bottom: 12px;
        padding-top: 12px;
      }
    }
  }
  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .footer__menu-items {
      order: 1;
    }
    .footer__description {
      order: 3;
      margin-top: 11px;
      width: 100%;
    }
    .footer__image {
      order: 2;
      margin-top: 17px;
    }
  }
}
